
header {
  background-image: url(../images/safaribg.jpg);
  background-position: bottom;
}
.heading {
  color: white;
}
.flex {
display: flex;
align-items:center;
margin-bottom: 100px;
height: 150px;
}
.favcontainer {
  height: 150px;
}
.favcount {
  margin-bottom: 20px;
}
.flexone {
  flex: 1;
  margin: auto;
  text-align: center;
}

.namecontainer {
  width: 200px;
  padding: 0 30px;
  margin-top: 20px;
  text-align: center;
}

.favimage, .petimage {
  max-width:100%;
  max-height: 180px;
  border: 2px solid black;
}

.favorite {
width: 100px;
height: 100px;
}



.bio {
  margin: 0 50px;
  max-height: 400px;
  overflow-y: scroll;
}
.delete {
  width: 100%;
}
.flexone p {
  margin-top: 50px;
}
.namecontainer h4 {
  margin-top: 30px;
  padding-top: 30px;
}

.petcontainer h3 {
  padding: 20px;
}
